
        body {
                background-image: url("image/PokemonBall.png");
                background-repeat: no-repeat;
                background-color: #cccccc;
                background-position: 90% 0%; 
                background-size: 1000px;
            } 
        #logo{
                position: absolute;
                margin-left: 5%;
                top:17%;
                transform: rotate(-10deg);
        }      
        #Content{
                position: absolute;
                width: 700px;
                left:42%;
                top:50%;
                transform: rotate(-5deg);
                }
        input{padding:5px 15px; border:2px black solid;
                cursor:pointer;
                -webkit-border-radius: 5px;
                border-radius: 5px; 
                height:40px;}
        footer {
                position: fixed;
                bottom: 0;
                left: 0;
                height: 20px;
                background-color: #cccccc;
                width: 100%;

                }
        .button {
                border: none;
                padding: 16px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 30px;
                margin: 4px 70px;
                transition-duration: 0.4s;
                cursor: pointer;
            }
        .button {
                background-color: rgba(0,0,0,0.0);
                color: black;
                width: 150px;
	            height: 150px;
                border-radius: 150px;
            }
        a{      text-decoration:none;}
        form a{      color:white;
                font-size:20px;}
